{% extends "layout.html" %}
{% block content %}
  <div class='theGrid'>
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
      </div>
      <div class='left-body'>
        <h1>Your Account</h1>
        <h2>Username: {{ current_user.username }}</h2>


        <!-- add routing stuff -->
        
        <div class='buttonList'>
            <form method ="get" action = "/updateInfo"><button class ='button'>Update your Information</button></form>
        </div>
        <div class='buttonList'>
            <form method ="get" action = "/user/{{ current_user.username }}"><button class ='button'>View your Posts</button></form>
        </div>
        <div class='buttonList'>
            <form method ="get" action = "/saved_posts"><button class ='button'>View your Saved Posts</button></form>
        </div>



      </div>
  </div>
  
 
  <script src="./static/script.js"></script>
{% endblock %}