<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8" />
  <title>LaigsCrist</title>
  
  <!-- <link rel="stylesheet" href="../static/style.css"> -->
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rawline" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>
<body>
  <div class='theGrid'>
     <div class='left-body'>
        <h1>LaigsCrist</h1>
        <h2>Totally original</h2>


        <!-- add routing stuff -->
        <form method ="get" action = "/register"><button class ='button'>Register</button></form>
        <form method ="get" action = "/login"><button class ='button'>Login</button></form>
        
        <p class='align-text-center'>or <a href="/ads">Continue as Guest</a></p>



     </div>
     <div class='right-body'>
        <!-- feed goes here -->
        <p>feeeed</p>
     </div>
  </div>
  
 
  <script src="./static/script.js"></script>
</body>
</html>