<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>SomethingList</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="./static/style.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rawline" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>




<body>
  {% block content %}
    <h3>New item listing:</h3>

      <div class='theForm'>
            <form method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag()}}

              <!-- Visual information, [itemImages, itemFiles] -->
                <h4>Images of item:</h4>
                {{form.itemPic}}<br><br>
            

            	<!-- Basic infromation, [itemName, description, price] -->
                <h4>Basic information:</h4>
                {{ form.itemName}}
                {{form.description}}
                <h4>Listing price:</h4>
                {{form.itemPic}}<br><br>


                
                <!-- handle submit later -->
                <br><br>
                <button class='button' onclick='itemList()' type='submit'>Submit</button>
            </form>

      </div>

 {% endblock content %}
</body>


</html>