{% extends "layout.html" %}
{% block concent %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">New Listing</legend>
      <div class="form-group">
        {{ form.itemName.label(class="form-control-label") }}
        {% if form.itemName.errors %}
          {{ form.itemName(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
    </fieldset>


  </form>
{% endblock %}