{% extends "layout.html" %}
{% block content %}

    <h3>Password Retrieval</h3>
    <h6>Enter your email and we'll send you a new password.</h6>
    <div class='theForm'>
        <form action="#" method="post" enctype="text/plain">
            <input type='text' id='email' name='email' placeholder="Email" /><br/>
            <!-- handle submit later -->
            <button class='button' onclick='pressSubmit()' type='submit'>Submit</button>
        </form>
    <small>Don't have an account? <a href="/register">Register</a></small><br>
  </div>
  
 
  <script src="./static/script.js"></script>

{% endblock %}