{% extends "layout.html" %}
{% block content %}

    <article class="media-content-section">
    	<div class="media-content">
            <div class="adPost">
            	<img class="adProfPic" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
              	<br>
            	<div class="article-metadata">
                	<a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                	<small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              	</div>
              	<h2><p class="article-title" >{{ post.itemName }}</p></h2>
              	<img class="listpic" src="{{ url_for('static', filename='listing_pics/' + post.id|string + post.ext) }}">
              	<br><br>
              	<p class="article-content">${{ post.itemPrice }}</p>
              	<p>
              		{{ post.description }}
              	</p>
              	<br>
            </div>
         </div>
    </article>
{% endblock content %}