<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>SomethingList</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="./static/style.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rawline" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>
<body>
  <h3>Create an account</h3>
  <div class='theForm'>
        <form action="#" method="post" enctype="text/plain">
            <input type='text' id='email' name='email' placeholder="Email" /><br/>
            <input type='text' name='password' placeholder="Password" /><br/>
            <button class='button' onclick='pressSubmit()' type='submit'>Submit</button>
            </form>
  </div>
  <script src="scripts/index.js"></script>
</body>
</html>