<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8" />
  <title>SomethingList</title>
  
  <link rel="stylesheet" href="./static/style.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rawline" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>
<body>
  <div class='theGrid'>
     <div class='left-body'>
        <h1>SomethingList</h1>
        <h2>insert catchy phrase about the website</h2>


        <!-- add routing stuff -->
        <a href="#"><button class='button'>Create an account</button></a>
        <a href="#"><p>or Login</p></a>



     </div>
     <div class='right-body'>
        <!-- feed goes here -->
        <p>feed</p>
     </div>
  </div>
  
 
  <script src="scripts/index.js"></script>
</body>
</html>